/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 22, 2015, 9:14:06 PM
    Author     : thomsonverghese
*/


article, aside, figure, footer, header, nav, section {
    display: block;
}
/*  styles for header */
header { 
    padding-bottom: 2em;
    border-bottom: 4px solid #ffcd11;
}
#sign_in_status{
    text-align: right;
        display: block;
        
    float: right;
        float: top;
        color: #ffcd11;
        font-size: x-small;
         
}


header h1{
        color: #F2EEB3
}
header p{
        color: #BFAF80
}

html {
    background-color: #8C6954
}

.top_margin {
    margin-top: 1em;
}

a { font-weight: bold; }
a:link { color: #BFAF80; }
a:visited { color: #BFAF80; }
a.selected { color: #F2EEB3; }
/*a.breadcrumbs{color: #F2EEB3; }*/
a:hover, a:focus { color: whitesmoke; }

ul { 
    margin-left: 1.5em;
    margin-bottom: 1.5em; 
}
li { padding-bottom: 0.25em; }

/*  styles for top navigation bar */
#navigation_bar {
    clear: both;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #ffcd11;
    text-align: right;
    background-color: #59323C
}
#navigation_bar ul {
    margin-bottom: .5em;
    list-style: none;
    padding-top: .5em;
}

#navigation_bar li {
    display: inline;
    padding: 0 1.5em;
    border-left: 2px solid #BFAF80;
}


section, aside, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}
section, aside {
    margin-top: 1.5em;
    margin-bottom: 1em;    
}

/*  styles for side navigation bar */
#sidebar ul {
    margin-left: 0;
    list-style: none;
}
#sidebar li {
    margin-bottom: .5em;
}

#sidebar { 
    width: 180px; 
    float: left; 
    height: 600px;
    border-right: 4px solid #ffcd11;
    background-color: #59323C
}

/*  styles for the section */
section {
    width: 800px;
    padding-right: 20px;
    padding-left: 20px;
    float: left;    
}
section h2 {
    margin-bottom: 0.35em; 
    color: #F2EEB3
}
section h3 {
    margin-bottom: 0.35em;
    float: left;
}

section p{
    color: #BFAF80;
    
}

section h3{
    color: #BFAF80;
}

section h4{
    color: #ffcd11;
}

section select{
    /* float: right; */
}

section img{
    width: 80px;
    height: 80px;
}

section th{
    color: #ffcd11;
}

section td{
    color: #BFAF80;
}

section figure{
    float: left;
}

section figcaption{
    color: #F2EEB3
}
section blockquote{
    color: #F2EEB3
}


body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    background-color: #8C6954;
    margin: 15px auto;
    padding: 15px 25px;
}

table {}

/*  styles for footer */
footer {
    clear: both;
    margin-top: 1em;
    border-top: 4px solid #ffcd11;
    padding-top: 0.7em;
    text-align: center;
}
footer p {
    font-size: 80%;
    color: #F2EEB3;
}

/* breadcrumb style */

#breadcrumbs{
    float: right;
    
}

#breadcrumbs p {
            color: #ffcd11
}

.cartitems{
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;    
}
.cartitems th{
    border-bottom:  2px solid #ffcd11;
}

.cartitems td{
    padding: 5px;
    text-align: center;
        
}




.cartitems_buttons{
 float: inside;
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
padding:5px 25px; /*add some padding to the inside of the button*/
background:#59323C; /*the colour of the button*/
border:1px solid #ffcd11; /*required or the default border for the browser will appear*/
/*give the button curved corners, alter the size as required*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
/*give the button a drop shadow*/
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);
/*style the text*/
color:#F2EEB3;
font-size:1.1em;
}

.cartitems_buttons:hover, .cartitems_buttons:focus{
background-color :#8C6954; /*make the background a little darker*/
/*reduce the drop shadow size to give a pushed button effect*/
-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);

}
#guitar_type_dropdown{
        float: left;
        margin-top:  1.5em;
        margin-left: .5em;
}